.changeBtn{
    color: blue;
    padding: 15px;
}

.changeBtn button{
    padding: 10px 28px;
    color: #fff;
    background: crimson;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover{
    transform: scale(0.9);
}